Imagenes.json
{
  "name": "Imagenes",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 60
            }
          ]
        }
      },
      "id": "506889c9-b01b-44a8-86b1-38dffb0ea234",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -620,
        60
      ]
    },
    {
      "parameters": {
        "url": "https://prestashop-proxy.aissa-allay.workers.dev/products",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "display",
              "value": "[id,id_default_image]"
            },
            {
              "name": "output_format",
              "value": "JSON"
            },
            {
              "name": "limit",
              "value": "0,5000"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "User-Agent",
              "value": "Mozilla/5.0"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "b12b04a4-4df9-4784-a3f3-7a0054001110",
      "name": "GET PS products (image)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -400,
        60
      ]
    },
    {
      "parameters": {
        "url": "http://91.99.15.45:8080/api/resource/Item",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "fields",
              "value": "={{ JSON.stringify([\"name\"]) }}"
            },
            {
              "name": "limit_start",
              "value": "0"
            },
            {
              "name": "limit_page_length",
              "value": "20000"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "token 4843743f6a3c093:98741828fb7c553"
            },
            {
              "name": "X-Frappe-Site-Name",
              "value": "frontend"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 120000
        }
      },
      "id": "ee7ab030-5958-446a-8259-d1c8dca3301f",
      "name": "GET ERP Items (all)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -180,
        60
      ]
    },
    {
      "parameters": {
        "jsCode": "const base='https://prestashop-proxy.aissa-allay.workers.dev/images/products';\nconst ps=$items(\"GET PS products (image)\").flatMap(i=>i.json?.products??[]);\nconst erp=$input.all().flatMap(i=>i.json?.data??[]);\nconst erpSet=new Set(erp.map(r=>String(r.name)));\nconst rows=[];\nfor(const p of ps){\n  const id=String(p.id);\n  const imgId=p.id_default_image;\n  if(!imgId) continue;\n  if(!erpSet.has(id)) continue; // solo si existe en ERP\n  rows.push({json:{ item_code:id, image_url:`${base}/${id}/${imgId}` }});\n}\nreturn rows;"
      },
      "id": "234b606d-b280-4b2c-b963-71e889aed4a0",
      "name": "Build Image Jobs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        40,
        60
      ]
    },
    {
      "parameters": {
        "batchSize": 50,
        "options": {}
      },
      "id": "16617bac-ca19-48fe-8ceb-a80cfc93451d",
      "name": "Split In Batches (50)",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        240,
        60
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://91.99.15.45:8080/api/method/upload_file",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "token 4843743f6a3c093:98741828fb7c553"
            },
            {
              "name": "X-Frappe-Site-Name",
              "value": "frontend"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"file_url\": \"{{$json.image_url}}\",\n  \"filename\": \"={{$json.item_code}}-{{ $json.image_url.split('/').pop() }}\",\n  \"doctype\": \"Item\",\n  \"docname\": \"={{$json.item_code}}\",\n  \"is_private\": 0\n}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "1ecb2234-ef1f-400c-98cf-b7f7c67f6afd",
      "name": "POST upload_file (by URL)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        440,
        60
      ],
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "// Mapea la respuesta del upload a { item_code, image, website_image }\nconst msg = $json?.message ?? {};\nlet file_url = msg.file_url || '';\nif (!file_url && msg.file_name) file_url = `/files/${msg.file_name}`;\nif (!file_url) return [];\nreturn [{ json: {\n  item_code: $item(0).$node[\"Build Image Jobs\"].json.item_code,\n  image: file_url,\n  website_image: file_url,\n  ignore_version: 1\n}}];"
      },
      "id": "65934ecd-aa3f-4364-a01f-f645d392f3f6",
      "name": "Map upload → PUT payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        60
      ]
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "={{\"http://91.99.15.45:8080/api/resource/Item/\" + $json.item_code}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "token 4843743f6a3c093:98741828fb7c553"
            },
            {
              "name": "X-Frappe-Site-Name",
              "value": "frontend"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ image: $json.image, website_image: $json.website_image, ignore_version: 1 }) }}",
        "options": {
          "timeout": 120000
        }
      },
      "id": "10b451fe-d60d-4517-b5c6-21a20f874da7",
      "name": "PUT Item (solo imagen)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        860,
        60
      ],
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "GET PS products (image)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET PS products (image)": {
      "main": [
        [
          {
            "node": "GET ERP Items (all)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GET ERP Items (all)": {
      "main": [
        [
          {
            "node": "Build Image Jobs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Image Jobs": {
      "main": [
        [
          {
            "node": "Split In Batches (50)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split In Batches (50)": {
      "main": [
        [],
        [
          {
            "node": "POST upload_file (by URL)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "POST upload_file (by URL)": {
      "main": [
        [
          {
            "node": "Map upload → PUT payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Map upload → PUT payload": {
      "main": [
        [
          {
            "node": "PUT Item (solo imagen)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "PUT Item (solo imagen)": {
      "main": [
        [
          {
            "node": "Split In Batches (50)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f3821842-d2ee-46b5-bcea-eb2a3224b715",
  "meta": {
    "instanceId": "7b4a938e22ec96aa70bd835a8a3505c5adeefb6a7712237c6a9fa0f3865bb712"
  },
  "id": "EjD3jWLaD1LBR1Ot",
  "tags": []
}